### Importações importantes

In [1]:
import pandas as pd
import knn_classifier as knn
import numpy as np
import matplotlib as plt

Struture:  [[1.6 2. ]
 [6.6 1. ]
 [6.8 1. ]]
Struture:  [[2.7 2. ]
 [7.7 1. ]
 [7.9 1. ]]
Preditos:  [1.0, 1.0]
Probabilidade:  [6.699999999999999, 7.799999999999999]
Real:  [1 2]
Acuracia:  50.0

### 1 - Funções Importantes

In [4]:
def histogram_classes(structure):
    list_count_repeat_values = []
    classes_uniques = np.unique(structure)
    for cl in classes_uniques:
        list_count_repeat_values.append([cl, structure.count(cl)])
        dataframe = pd.DataFrame(list_count_repeat_values, columns = ['variety', 'occurrie'])
        dataframe = dataframe.set_index('variety')
        plt.rcParams.update({'front.size': 13})
        plot = dataframe['occurrie'].plot.bar()
    return plot

def parse_numerical_classe(dataframe, columns_labels):
    classes_uniques = np.unique(dataframe[columns_labels])
    dict_numerical_classes = {}
    
    for i in range(len(classes_uniques)):
        dict_numerical_classes[classes_uniques[i]] = i+1
    return dataframe.replace(dict_numerical_classes)

### 2 -  Realizando a leitura dos dados no formato dataframe

In [2]:
df = pd.read_csv('../data/external/iris.csv')
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

### 3 - Realizando análises dos dados

#### 3.1 - Verificando as classes
Nessa subseção é verificado que os dados Iris possuem três tipos de classes Setosa, Versicolor e Virginica

In [ ]:
classes = df['variety'].unique()
print('Classes: ', classes)
print("Quantidade de classes da base: ", len(classes))

#### 3.2 - Verificando as caracteristicas
Nessa subseção é verificado que os dados apresentam quatros tipo de caractericas sendo elas comprimento da sépata, largura da sépata, comprimento da pétada e largura da pétala

In [ ]:
features = df.columns.values
print("Caracteristicas: ",features)
print("Quantidade de caracteristicas: ", len(features)-1)

#### 3.3 - Verificando das instâncias
Nessa subseção é verificado que os dados apresentam 150 intâncias

In [ ]:
instances = len(df)
print("Quantidade de instancias: ", instances)

#### 3.4 - Verificando balaceamento de classes
Nessa seção é verificado que os dados são balanceados para cada classe apresentando 50 anostras para cada uma de suas classes

In [ ]:
histogram = histogram_classes(list(df['variety'].values))
histogram

### 4 - Preparação dos dados
Nessa seção é realizado o tratamento dos dados para a construção do modelo de reconhecimento de tipos de plantas

In [3]:
df_numerical = parse_numerical_classe(df, "variety")
df_numerical.to_excel("../data/processed/iris_processed.xlsx")
df_numerical.head()

NameError: name 'parse_numerical_classe' is not defined