In [ ]:
print("Hello World")

In [ ]:
print("Mini Curso Data Science")

In [ ]:
a = 1
b = 2

In [ ]:
soma = a + b
print(soma)

In [11]:
import pandas as pd
import matplotlib

In [8]:
df = pd.read_csv("Dados.csv", sep = ",")
df

       Periodo  Values
0   2014-07-01     0.0
1   2014-08-01    35.0
2   2014-09-01     0.0
3   2014-10-01     0.0
4   2014-11-01    55.0
..         ...     ...
60  2019-07-01    46.0
61  2019-08-01    67.0
62  2019-09-01    90.0
63  2019-10-01   274.0
64  2019-11-01    81.0

[65 rows x 2 columns]

In [14]:
df["Values"].max()

274.0